apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: edge-terrarium
data:
  nginx.conf: |
{{ nginx_conf | indent(4, True) }}
  server.conf: |
{{ server_conf | indent(4, True) }}
